{% extends 'message.html' %} 
{% load static %} 

{% block title %}
<title>Вы уже ответили на этот вопрос</title>
{% endblock title %} 

{% block content %}
<h1 class="status">403</h1>
<h1>Вы уже ответили на этот вопрос</h1>
<p>
    На этой странице возникла ошибка, связанная с ограничением на повторные
    ответы на один и тот же вопрос. К сожалению, после того, как вы ответили на
    вопрос, система не позволяет вам давать дополнительные ответы на тот же
    вопрос.
</p>
<p>
    Это ограничение может быть установлено для обеспечения разнообразия и
    качества взаимодействия в сообществе. Пожалуйста, учтите, что это правило
    направлено на поддержание честности и предотвращение злоупотреблений.
</p>
<p>Благодарим за понимание и активное участие в нашем сообществе!</p>
<a href="{% url 'level' level_pk %}">Вернуться ко всем уровням</a>
{% endblock content %}
