{% extends 'message.html' %} 
{% load static %} 

{% block title %}
<title>Уровень не найден</title>
{% endblock title %} 

{% block content %}
<h1 class="status">404</h1>
<h1>Уровень под номером {{ lvl_index }} не найден</h1>
<p>
    На данной странице возникла проблема с доступом к запрошенному уровню,
    обозначенному индексом {{ lvl_index }}. К сожалению, система не смогла
    обнаружить соответствующий уровень по указанному индексу.
</p>
<p>Возможные причины:</p>
<p>Неверный индекс:</p>
<p>
    Убедитесь, что вы ввели корректный индекс уровня. Возможно,
    произошла ошибка при вводе данных. Пожалуйста, проверьте и повторите
    попытку.
</p>
<p>Уровень не существует:</p>
<p>
    Возможно, уровня с указанным индексом не существует в системе.
    Проверьте правильность индекса и удостоверьтесь, что такой уровень
    действительно существует.
</p>
<p>Технические неполадки:</p>
<p>
    Возможно, проблема связана с временным сбоем в системе. Попробуйте
    повторить запрос позже. Если проблема сохраняется, обратитесь в
    службу поддержки.
</p>
<p>
    Если проблема сохраняется и вы не можете решить её самостоятельно,
    рекомендуется связаться с администратором системы или службой поддержки для
    получения дополнительной помощи.
</p>
<a href="{% url 'levels' %}">Вернуться ко всем уровням</a>
{% endblock content %}
