{% extends 'message.html' %} 
{% load static %} 

{% block title %}
<title>У вас закончились жизни</title>
{% endblock title %} 

{% block content %}
<h1 class="status">403</h1>
<h1>У вас закончились жизни, чтобы ответить на этот вопрос</h1>
<p>
    К сожалению, у вас закончились доступные попытки для ответа на данный
    вопрос. Ваш текущий лимит жизней исчерпан.
</p>

<p>
    Этот вопрос, возможно, требует дополнительной подготовки или внимательности.
    Мы ценим ваш интерес и стремление участвовать. Попробуйте вновь, когда ваш
    лимит попыток будет восстановлен.
</p>

<p>
    Если у вас есть вопросы или вам нужна дополнительная помощь, пожалуйста,
    свяжитесь с нашей службой поддержки.
</p>

<p>Благодарим за понимание и терпение.</p>

<p>С уважением,</p>
<p>Команда поддержки.</p>
<a href="{% url 'level' level_pk %}">Вернуться к уровню</a>
{% endblock content %}
