{% extends 'message.html' %}
{% load static %} 

{% block title %}
<title>Вы еще не ответили</title>
{% endblock title %} 

{% block content %}
<h1 class="status">403</h1>
<h1>Вы еще не ответили на предыдущий вопрос</h1>
<p>
    На данный момент мы заметили, что вы еще не ответили на предыдущий вопрос.
    Возможно, вопрос был уточнен или требует вашего внимания. Для успешного
    продолжения общения и получения необходимой помощи, пожалуйста, ответьте на
    предыдущий вопрос.
</p>

<p>
    Если у вас возникли трудности или у вас есть дополнительные вопросы, не
    стесняйтесь обращаться к нашей службе поддержки. Мы готовы помочь вам в
    любой ситуации.
</p>

<p>Благодарим за понимание и сотрудничество!</p>
<a href="{% url 'question' lvl_index que_index|add:'-1' %}">
    Вернуться к предыдущему уровню
</a>
{% endblock content %}
