{% extends 'message.html' %}
{% load static %} 

{% block title %}
<title>Вопрос не найден</title>
{% endblock title %} 

{% block content %}
<h1 class="status">404</h1>
<h1>
    Вопрос с номером {{ que_index }} в уровне по номером {{ lvl_index }} не
    найден
</h1>

<p>
    К сожалению, запрошенный вами вопрос с номером {{ que_index }} в уровне
    номер {{ lvl_index }} не обнаружен. Возможно, он был удален, перемещен или
    никогда не существовал.
</p>

<p>
    Пожалуйста, удостоверьтесь, что вы ввели правильные номера вопроса и уровня.
    Если вы считаете, что это ошибка, попробуйте обновить страницу или вернуться
    на предыдущую страницу и повторите попытку. В противном случае, свяжитесь с
    нашей службой поддержки для получения дополнительной помощи.
</p>

<p>
    Мы приносим извинения за возможные неудобства и благодарим за ваше
    понимание.
</p>
<a href="{% url 'level' lvl_index %}">Вернуться к уровню</a>
{% endblock content %}
