{% extends 'message.html' %} 
{% load static %} 

{% block title %}
<title>Не хватает прав</title>
{% endblock title %} 

{% block content %}
<h1 class="status">403</h1>
<h1>У вас не хватает прав администратора</h1>
<p>
    К сожалению, у вас нет необходимых прав для доступа к данному разделу. Эта
    страница об ошибке предупреждает вас о том, что уровень вашего доступа не
    позволяет выполнить требуемое действие. Возможно, вам нужны права
    администратора для использования определенных функций или для внесения
    изменений в систему.
</p>

<p>Возможные причины отсутствия необходимых прав могут быть следующими:</p>

<p>
    Отсутствие авторизации: Пожалуйста, удостоверьтесь, что вы вошли в систему
    под учетной записью с соответствующим уровнем доступа.
</p>

<p>
    Недостаточные права: Если у вас уже есть аккаунт, возможно, ваши текущие
    права не позволяют выполнить требуемое действие. Обратитесь к администратору
    системы для получения дополнительных прав.
</p>

<p>
    Истекший срок действия прав: Если вы ранее имели права администратора,
    возможно, они были отозваны или их срок действия истек. Свяжитесь с
    технической поддержкой для получения дополнительной информации.
</p>

<p>
    Если у вас возникли вопросы или вы считаете, что произошла ошибка,
    пожалуйста, обратитесь в службу поддержки для получения дополнительной
    помощи. Мы сожалеем за любые неудобства, и наши специалисты по поддержке
    будут рады вам помочь.
</p>
<a href="{% url 'levels' %}">Return to all levels</a>
{% endblock content %}
